.experience-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.experience-link {
  text-decoration: none;
  color: #333;
}

.experience-title {
  margin: 0;
  font-size: 3.4vmin;
  color: rgb(227, 88, 7);
}

.experience-description {
  margin-bottom: 10px;
  text-align: center;
  text-align: left;
}

.comments-section {
  margin-bottom: 10px;
}

.comment {
  margin: 5px 0;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}

.comment-submit {
  padding: 5px 10px;
  background-color: #082543;
  color: #fff;
  border: none;
  cursor: pointer;
}

.comment-show {
  padding: 2px 5px;
  font-size: 1.4vmin;
  background-color: #d8dfe7;
  color: #8a8585;
  border: none;
  cursor: pointer;
}

.comment-submit:hover {
  background-color: #09233e;
}
